<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="card">
          <div class="valign-wrapper" style="background: #64b5f6 !important; margin-bottom: 200px ">
            <div class="col s12 imgCol">
              <img src="../../../assets/sample.jpg" alt="user image" class="imgCircle">
            </div>
            <div class="row" style="height: 60px">
              <div class="col s10 nameCol">
                <span>
                  Username
                  <p class="isOnline">Online</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- message section -->
    <div class="col s12 rowDiv">
      <div class="row">
        <div class="col s12">
          <div class="message-wrspper" >
            <!-- left side -->
            <div class="left">
              <div class="chat-bubble left slide-left">
                <div class="message">Sender</div>
              </div>
            </div>
            <!-- right side -->
            <div class="right">
              <div class="chat-bubble right slide-right">
                <div class="message">receiver</div>
              </div>
            </div>

            <div class="cf"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <div class="col s12" style="margin: 0px;">
      <div class="row">
        <div class="card" style="height: 55px;">
          <div class="inputRow">
            <form >
              <div class="input-field inputfield col s10">
                <textarea name="message" class="materialize-textarea inputBox" placeholder="Type Your Message"></textarea>
              </div>
              <div class="input-field col s1 emojiDiv">
                <button class="emojiBtn">😄</button>
              </div>
              <div class="input-field col s1">
                  <button class="suffix btn">Send</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
